body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: lightblue;
  background-image: url('chart.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

header {
  background-color: #1e409f;
  color: #fff;
  text-align: center;
  padding: 20px;
}

h1 {
  margin: 0;
}

section {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.faculty-card {
  width: 300px;
  background-color: #fff;
  padding: 20px;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
}

.faculty-card h2 {
  color: #1e409f;
}

.faculty-card p {
  color: #333;
}

button {
  background-color: #1e409f;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  
}